<div class="bacon-page">
  <button type="button" class="bacon-button more-bacon-button">Yeah, I want more bacon!</button>
  <button type="button" class="bacon-button less-bacon-button">Cut down that grease!</button>
  <div class="bacon-holder">
    <img class="bacon" src="/images/bacon.jpg" />
  </div>
</div>