@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "./baconFactory.scss";

html,
body {
  background-color: #f7f8fa;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main img {
  max-width: 100%;
}
